{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <!-- <canvas id="myCanvas" width="750px" height="750px"></canvas> -->
    This is the large display (ranked)
</body>
<script>

    // variables (common among all displays):
    var water_fountain = {"comment": "", "thumbs_up": 0, "thumbs_down": 0}; // perhaps these should be a separate JS class/object?
    var study_spot = {"comment": "", "thumbs_up": 0, "thumbs_down": 0};
    var restroom = {"comment": "", "thumbs_up": 0, "thumbs_down": 0};
    



    tool.onMouseMove = function(event) {
       
    }

    socket.onmessage = function(receivedMessage) {
        
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
