{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=utf-8;width=device-width; initial-scale=1">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="../../static/map/css/large.css">
    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/js/large.js' %}"></script>

  

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <!-- <canvas id="myCanvas" width="750px" height="750px"></canvas> -->


    <img src="{% static 'map/img/water.png' %}" alt="" usemap="#workmap" width="1500" height="1000">

    <map name="workmap">
      <area shape="rect" coords="200,100,500,200" alt="topright"  href="large_not_ranked_popup.html" onclick="open('GSCCModal');">
    </map>


</body>

</html>
