{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="../../static/map/css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/js/large.js' %}"></script>

</head>
<body>
    <div class="map"></div>
    <div class="icon-info">
        <div>
            <h2 class="row">Ranking</h2>
            <div id="ranking" class="row"></div>
        </div><br><br>

        <div id="displayed-icon" class="row"></div>

    </div>
    
</body>

</html>
