{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="../../static/map/css/small.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>
    <script src="{% static 'map/js/small.js' %}"></script>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <!-- <canvas id="myCanvas" width="750px" height="750px"></canvas> -->

    <input id="water" placeholder="Water Comment">
    <button id="water" class="comment">Submit Comment</button>
    <button id="water" class="thumbs-up">Submit Thumbs Up</button>
    <button id="water" class="thumbs-down">Submit Thumbs Down</button>
    <button id="water" class="hearts">Submit Hearts</button><br><br>

    <input id="study" placeholder="Study Comment">
    <button id="study" class="comment">Submit Comment</button>
    <button id="study" class="thumbs-up">Submit Thumbs Up</button>
    <button id="study" class="thumbs-down">Submit Thumbs Down</button>
    <button id="study" class="hearts">Submit Hearts</button><br><br>

    <input id="restroom" placeholder="Restroom Comment">
    <button id="restroom" class="comment">Submit Comment</button>
    <button id="restroom" class="thumbs-up">Submit Thumbs Up</button>
    <button id="restroom" class="thumbs-down">Submit Thumbs Down</button>
    <button id="restroom" class="hearts">Submit Hearts</button>
    

</body>
<script>

    
    

</script>
</html>
