{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="../../static/map/css/small.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>
    <script src="{% static 'map/js/small.js' %}"></script>
  

</head>

<body>
    <div class="main">
        <a href="water">
        <div class="options">
        <p style="font-size: 50px; font-weight: bold; padding: 10px; margin-left: 70px">Water</p>
        </div>
        </a>
        <br>
        <a href="study">
        <div class="options">
        <p style="font-size: 40px; font-weight: bold; padding: 10px; margin-left: 40px">Study Spots</p>
        </div>
    </a>
        <br>
            <a href="restroom">
        <div class="options">
            <p style="font-size: 50px; font-weight: bold; padding: 10px; margin-left: 25px">Restrooms</p>
        </div>
        </a>
    </div>
</body>

</html>
