{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'map/css/icon.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>
    <script src="{% static 'map/js/small.js' %}"></script>

</head>

<body>

  <h3 style="margin-left:5em; margin-top: 5em; font-size: 50px">Closest Study Spots</h3>

  <div class="main">

    <div class="options" style="margin-top: 10em">
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:38px; margin-bottom: 0">  Moffitt Library (0.2 miles away)</p>
        <hr style="background:white">
      </div>

      <div style="padding-left: 10px;padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">
        <div class="" style="display: inline; margin-left: 0.2em; font-size:25px"> Reactions:
          <div class="heart" style="margin: 1em">5387 ❤️</div>
          <div class="up" style="margin: 1em">2928 👍</div>
          <div class="down" style="margin: 1em">109 👎</div>
        </div>
      </div>

      <div class="comments">
        <div style="padding-top: 1px; padding-bottom: 1px; margin-left: 35%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px; display: inline;">
          <button id="study" class="heart">❤️</button>
          <button id="study" class="up">👍</button>
          <button id="study" class="down">👎</button>
        </div>
      </div>
    </div>


    <div class="options" >
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:38px; margin-bottom: 0"> Memorial Glade (0.3 miles away)</p>
        <hr style="background:white">
      </div>

      <div style="padding-left: 10px;padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">
        <div class="" style="display: inline; margin-left: 0.2em; font-size:25px"> Reactions:
          <div class="heart" style="margin: 1em">4376 ❤️</div>
          <div class="up" style="margin: 1em">3829 👍</div>
          <div class="down" style="margin: 1em">989 👎</div>
        </div>
      </div>

      <div class="comments">
        <div style="padding-top: 1px; padding-bottom: 1px; margin-left: 35%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px; display: inline;">
          <button id="study" class="heart">❤️</button>
          <button id="study" class="up">👍</button>
          <button id="study" class="down">👎</button>
        </div>
      </div>
    </div>

    <div class="options">
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:38px; margin-bottom: 0"> Doe Library (0.3 miles away)</p>
        <hr style="background:white">
      </div>

      <div style="padding-left: 10px;padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">
        <div class="" style="display: inline; margin-left: 0.2em; font-size:25px"> Reactions:
          <div class="heart" style="margin: 1em">3928 ❤️</div>
          <div class="up" style="margin: 1em">1208 👍</div>
          <div class="down" style="margin: 1em">220 👎</div>
        </div>
      </div>

      <div class="comments">
        <div style="padding-top: 1px; padding-bottom: 1px; margin-left: 35%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px; display: inline;">
          <button id="study" class="heart">❤️</button>
          <button id="study" class="up">👍</button>
          <button id="study" class="down">👎</button>
        </div>
      </div>
    </div>

    <div class="options">
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:38px; margin-bottom: 0"> Campanile (0.4 miles away)</p>
        <hr style="background:white">
      </div>

      <div style="padding-left: 10px; padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">
        <div class="" style="display: inline; margin-left: 0.2em; font-size:25px"> Reactions:
          <div class="heart" style="margin: 1em">2899 ❤️</div>
          <div class="up" style="margin: 1em">1092 👍</div>
          <div class="down" style="margin: 1em">100 👎</div>
        </div>
      </div>

      <div class="comments">
        <div style="padding-top: 1px; padding-bottom: 1px; margin-left: 35%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px; display: inline;">
          <button id="study" class="heart">❤️</button>
          <button id="study" class="up">👍</button>
          <button id="study" class="down">👎</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</body>

</html>
