{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'map/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'map/css/icon.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script type="text/javascript" src="{% static 'map/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'map/vendor/paper/paper-full.min.js' %}"></script>
    <script src="{% static 'map/js/small.js' %}"></script>


</head>

<body>

  <h3 style="margin-left:3.5em; margin-top: 5em; font-size: 50px">Closest Water Refill Stations</h3>

  <div class="main">

    <div class="options" style="margin-top: 10em">
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:40px; margin-bottom: 0"> Stanley Hall (10 feet away)</p>
        <hr style="background:white">
      </div>

      <p id="latest" style="padding-left: 10px;padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">Latest Update by Anonymous (10 minutes ago): Not Working!</p>

      <div class="comments">
        <input id="water" style="margin-left: 15%; margin-top: 3%;background: white; border: none; width: 10em; height: 2em; font-size: 15px">
        <button id="water" class="comment" type="button" style="margin-left: 15%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px">Comment</button>
      </div>
    </div>


    <div class="options" >
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:40px; margin-bottom: 0"> Latimer Hall (0.5 miles away)</p>
        <hr style="background:white">
      </div>

      <p style="padding-left: 10px;padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">Latest Update by Rebecca (1 hour ago): Red Filter</p>

      <div class="comments">
        <button type="button" style="margin-left: 35%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px">Comment</button>
      </div>
    </div>

    <div class="options" >
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:40px; margin-bottom: 0"> Pimentel (0.6 miles away)</p>
        <hr style="background:white">
      </div>

      <p style="padding-left: 10px;padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">Latest Update by Alex (2 minutes ago): Not Clean!</p>

      <div class="comments">
        <button type="button" style="margin-left: 35%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px">Comment</button>
      </div>
    </div>

    <div class="options" >
      <div class="info">
        <p style="padding-left: 15px; padding-top: 15px; font-size:40px; margin-bottom: 0"> Chou Hall (0.7 miles away)</p>
        <hr style="background:white">
      </div>

      <p style="padding-left: 10px;padding-top: 10px;background: white; border: none; border-radius: 5px; width: 100%; height: 2em; font-size: 20px">Latest Update by Anonymous (2 hours ago): Clean and works!</p>

      <div class="comments">
        <button type="button" style="margin-left: 35%; margin-top: 3%;background: white; border: none; border-radius: 10px; width: 10em; height: 2em; font-size: 15px">Comment</button>
      </div>
    </div>
    <br>
  </div>
</body>

</html>
